<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="/about" (click)="sidenav.close()">About</a>
      <a mat-list-item routerLink="/projects" (click)="sidenav.close()">Projects</a>
      <a mat-list-item routerLink="/skills" (click)="sidenav.close()">Skills</a>
      <a mat-list-item routerLink="/contact" (click)="sidenav.close()">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Portfolio</span>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>